/*****************************
********** VARIABLES *********
******************************/
:root{ 
    /* COLORS */
    --second-purple-color: #8153F1;
    --first-yellow-color: #ffd13b;
    --second-yellow-color: #fffc3b;
    --black-color: black;
    --white-color: white;
    --grey-color: #f8f8f8;

    /* SHADOWS */
    --shadow-bottom: 4px 4px 5px -4px;
    --shadow-top: 0 8px 20px 2px;
} 

/*****************************
******* POLICIES ******
******************************/

/* latin-ext */
@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Cormorant Regular'), local('Cormorant-Regular'), url(https://fonts.gstatic.com/s/cormorant/v8/H4clBXOCl9bbnla_nHIq4Zu9uqc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Cormorant Regular'), local('Cormorant-Regular'), url(https://fonts.gstatic.com/s/cormorant/v8/H4clBXOCl9bbnla_nHIq75u9.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

  /* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*****************************
******* GENERAL CLASSES ******
******************************/

.boxshadow {
    box-shadow: var(--shadow-bottom);
}

.purple-section {
    background-color: var(--second-purple-color);
}

.section-grey {
    background-color: rgba(214, 214, 214, 0.644);
}


/*****************************
********** GENERAL ***********
******************************/

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', 'Arial', 'Sans-serif';
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    transition: all 0.2s;
}

.back2top {
    background-color: var(--first-yellow-color);
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    right: 5px;
    position: fixed;
    bottom: 25px;
    display: none ;
    z-index: 99;
}

.display-block {
    display: block;
}


.back2top:hover {
    box-shadow: var(--shadow-bottom);
    background-color: var(--second-yellow-color);
}

.back2top i {
    padding-top: 35%;
}

section {
    padding: 30px;
}

.navbar {
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}

.bg-grey {
    background-color: var(--grey-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--white-color);
    font-size: 1.8rem;
    margin: auto 5px;
}

.navbar-light .navbar-nav .nav-link.black {
    color: var(--black-color);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
    color: var(--first-yellow-color);
}

.navbar-light .navbar-nav .nav-link.current {
    color: var(--first-yellow-color);
}

a, a:hover {
    text-decoration: none;
    color: black;
}

small {
    font-size: 95%;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

button.btn.my-btn {
    font-size: 1.8rem;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: var(--first-yellow-color);
    color: var(--black-color) ;
    font-weight: bold;
    outline: none;
    border: none;
}

button.btn.my-btn:hover {
    background-color: var(--second-yellow-color);
    box-shadow: var(--shadow-bottom);
}


footer {
    background-color: var(--grey-color);
    box-shadow: var(--shadow-top);
}

/*****************************
******** HOME SECTION ********
******************************/
section#home {
    height: 100vh;
    background: url('../img/cinema-plein-air.jpg') center no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

section#home .content {
    padding-top: 15%;
}

section#home .content h1 {
    font-size: 8rem;
    font-family: 'Cormorant', 'Arial', 'Sans-serif';
    font-weight: 900;
}

section#home .content h2 {
    color: var(--white-color);
}


/*****************************
******** ABOUT SECTION ********
******************************/
div#about-row {
    display: flex;
}

div#about-row div {
    width: 50%;
}

div#about-row div.content {
    width: 60%;
}

section#about img {
    margin-left: 20px;
}


/*****************************
******** CINEMA SECTION ********
******************************/
.movies {
    width: 100%;
    margin: auto;
    text-align: center;
}

.movie-img {
    width: 300px;
    height: 400px;
    margin: 10px;
}

.movie-img:hover {
    box-shadow: var(--shadow-bottom);
}

.nav-pills .nav-link, .nav-pills .show>.nav-link {
    font-size: 1.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--first-yellow-color);
    color: black !important;
}

/*****************************
******** INSCRIPTION SECTION ********
******************************/
form {
    width: 65%;
    margin: auto;
}

fieldset {
    border: 1px solid black;
    padding: 15px;
}

legend {
    width: min-content;
}

::placeholder, .form-control, label, legend {
    font-size: 1.6rem;
}

.form-control {
    height: 40px;
}


/*****************************
******** FIND US SECTION ********
******************************/
div#contact-row{
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row#contact-row div.contact-informations {
    margin: auto;
}

.row#contact-row div.contact-informations p.info {
    font-weight: bold;
}

p.info-title i {
    font-weight: bold;
    color: var(--second-purple-color);
}

.row#access-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row#access-row div {
    width: 40%;
    text-align: center;
}

.row#access-row i {
    font-size: 3rem;
    color: var(--second-purple-color) !important;
}


/*****************************
******** NEWS SECTION ********
******************************/

section#news {
    width: 95%;
    margin: auto;
}

div#news-row {
    display: flex;
    justify-content: space-evenly;
}

nav#nav-news {
    margin: 40px;
}

ul.pagination {
    font-size: 2rem;
    margin: 10px auto;
}

.card {
    width: 300px;
}


/*****************************
******** NEWS SECTION ********
******************************/


ul#socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul#socials li a i{
    font-size: 3.5rem;
    margin: 5px;
}


/*****************************
******** MOVIE PAGE ********
******************************/
section#movie {
    width: 80%;
    margin: auto;
}

#movie-content{
    display: flex;
}

.img-movie-infos {
    width: 350px;
}


/*****************************
********* TOPIC PAGE *********
******************************/
section#topic  {
    padding: 50px;
}

section#topic div.content div#topic-text-content  {
    text-align: justify;
}

section#topic div.content img {
    float: right;
    margin: 30px;
    width: 600px;
}

section#topic footer {
    clear: both;
}



/*****************************
********* RESPONSIVE *********
******************************/
button.navbar-toggler.ml-auto {
    width: 50px;
    padding: 5px;
}

button.navbar-toggler.ml-auto[aria-expanded='true'] {
    width: 50px;
    padding: 5px;
    background-color: var(--second-yellow-color);
    box-shadow: var(--shadow-bottom);
}

/* Tous les écrans jusqu'a 1921px */
@media screen and (min-width: 1921px) {
    .back2top {
        width: 50px;
        height: 60px;
    }
    
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.8rem;
    }

    button.btn.my-btn {
        font-size: 3rem;
        padding: 15px 50px;
        width: auto;
    }

    /* NAV */
    .navbar-light .navbar-nav .nav-link {
        font-size: 2.5rem;
    }

    /* HOME */
    section#home .content h1 {
        font-size: 10rem;
    }

    /* INSCRIPTION */
    ::placeholder, .form-control, label, legend {
        font-size: 2rem;
    }

    /* FIND US */
    div#contact-row {
        justify-content: space-evenly;
    }

    /* NEWS */
    div#news-row {
        margin-top: 30px;
    }

    .card {
        width: 500px;
    }

    .card-title {
        font-size: 2.5rem;
    }

    p, a, .nav-pills .nav-link, .nav-pills .show>.nav-link {
        font-size: 2rem;
    }

    /* TOPIC */
    section#topic div.content img {
        width: 40%;
    }

}


/* Tous les écrans jusqu'a 992px */
@media screen and (max-width: 992px) {

    /* HEADER */
    .navbar-expand-lg {
        background-color: rgba(82, 79, 79, 0.8);
    }

    /* HOME */
    section#home .content h1 {
        font-size: 7rem;
    }

    /* ABOUT */
    div#about-row {
        display: flex;
        flex-direction: column;
    }

    div#about-row div {
        width: 100% !important;
    }

    section#about img {
        position: relative;
        bottom: 0;
    }

    /* CINEMA */
    .movies {
        text-align: center;
    }

    div#dates {
        margin: auto;
        text-align: center;
        width: max-content;
    }

    /* INSCRIPTION */
    form {
        width: 100%;
    }

    /* NEWS */
    .card {
        margin: 5px;
    }

    /* TOPIC PAGE */
    section#topic div.content img {
        margin: 20px;
        width: 400px;
    }
}

/* Tous les écrans jusqu'a 769px */
@media screen and (max-width: 769px) {

    section {
        width: 100%;
        padding: 20px 5px;
        margin: auto;
    }

    /* HOME */
    section#home .content {
        padding-top: 25%;
    }

    section#home .content h1 {
        font-size: 5rem;
    }

    /* ABOUT */
    section#about {
        padding: 50px 0;
    }

    section#about img {
        margin-left: 0;
    }

    /* FIND US */
    div#contact-row {
        flex-direction: column;
    }

    .row#access-row {
        flex-direction: column;
        align-content: center;
    }

    .row#access-row div {
        width: 95%;
        margin-bottom: 10px;
    }

    div.contact-informations {
        width: 90%;
        margin: 15px 5px;
    }

    div.contact-informations p {
        font-size: 2rem;
    }

    .map, iframe {
        width: 100%;
    }

    /* NEWS */
    section#news {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    div#news-row {
        flex-direction: column;
        width: 100%;
    }

    .card {
        margin: 5px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .card-img-top {
        width: 40%;
    }

    /* MOVIE PAGE */
    section#movie {
        width: 90%;
    }

    /* TOPIC PAGE */
    

    div#movie-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    div.content h1 {
        text-align: center;
    }

    /* TOPIC PAGE */
    section#topic {
        padding: 20px;
        text-align: center;
    }
    section#topic div.content img {
        float: unset;
    }
}


/* Tous les écrans jusqu'a 576px */
@media screen and (max-width: 576px) {

    h1 {
        font-size: 3rem;
    }

    /* FIND US */
    div#contact-row {
        flex-direction: column;
    }

    .row#access-row {
        margin: 0 5px;
    }

    .row#access-row div {
        width: 95%;
        margin-bottom: 10px;
    }

    div.contact-informations {
        width: 90%;
        margin: 15px 5px;
    }

    div.contact-informations p {
        font-size: 2rem;
    }

    .map, iframe {
        width: 100%;
    }

    /* NEWS */
    section#news {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    div#news-row {
        flex-direction: column;
        width: 100%;
    }

    .card {
        margin: 5px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .card-img-top {
        width: 30%;
        height: 1%;
    }

    .card-body p {
        font-size: 1.4rem;
        line-height: 15px;
    }

    .card-body button.btn.my-btn {
        padding: 0;
        font-size: 1.5rem;
        width: 90%;
    }
    

    /* TOPIC PAGE */

    div.content h1 {
        text-align: center;
    }

    section#topic div.content img {
        margin: 10px;
        width: 320px;
    }
}