/*****************************
********** VARIABLES *********
******************************/
:root{
    /* COLORS */
    --first-purple-color: #B400FF;
    --second-purple-color: #9019FF;
    --first-yellow-color: rgb(255, 209, 59);
    --second-yellow-color: rgb(255, 252, 59);
    --black-color: black;
    --white-color: white;
    --grey-color: rgb(248, 248, 248);

    /* SHADOWS */
    --shadow-bottom: 4px 4px 5px -4px;
    --shadow-top: 0 8px 20px 2px;
} 


/*****************************
******* GENERAL CLASSES ******
******************************/

.boxshadow {
    box-shadow: var(--shadow-bottom);
}

.purple-section {
    background-color: #9019FF;
}

.section-grey {
    background-color: rgba(233, 233, 233, 0.363);
}


/*****************************
********** GENERAL ***********
******************************/

html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.back2top {
    background-color: var(--first-yellow-color);
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    right: 5px;
    position: fixed;
    bottom: 25px;
    display: none ;
}

.display-block {
    display: block;
}


.back2top:hover {
    box-shadow: var(--shadow-bottom);
    background-color: var(--second-yellow-color);
}

.back2top i {
    padding-top: 35%;
}

section {
    padding: 30px;
}

.navbar {
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}

.bg-grey {
    background-color: var(--grey-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--white-color);
    font-size: 1.8rem;
    margin: auto 5px;
}

.navbar-light .navbar-nav .nav-link.black {
    color: var(--black-color);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
    color: var(--first-yellow-color);
}

.navbar-light .navbar-nav .nav-link.current {
    color: var(--first-yellow-color);
}

a, a:hover {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

button.btn.my-btn {
    font-size: 1.8rem;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: var(--first-yellow-color);
    color: var(--black-color) ;
    font-weight: bold;
    outline: none;
    border: none;
}

button.btn.my-btn:hover {
    background-color: var(--second-yellow-color);
    box-shadow: var(--shadow-bottom);
}

/*****************************
******** HOME SECTION ********
******************************/
section#home {
    height: 100vh;
    background: url('/public/img/cinema-plein-air.jpg') center no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

section#home .content {
    padding-top: 15%;
}

section#home .content h1 {
    font-size: 8rem;
}

section#home .content h2 {
    color: var(--white-color);
}


/*****************************
******** ABOUT SECTION ********
******************************/
div#about-row {
    display: flex;
}

div#about-row div {
    width: 50%;
}

section#about img {
    position: relative;
    bottom: 50px;
}


/*****************************
******** CINEMA SECTION ********
******************************/
.movies {
    width: 100%;
    margin: auto;
}

.movie-img {
    width: 300px;
    height: 400px;
    margin: 10px;
}

.movie-img:hover {
    box-shadow: var(--shadow-bottom);
}


/*****************************
******** INSCRIPTION SECTION ********
******************************/
form {
    width: 65%;
    margin: auto;
}

fieldset {
    border: 1px solid black;
    padding: 15px;
}

legend {
    width: min-content;
}

::placeholder, .form-control, label, legend {
    font-size: 1.6rem;
}

.form-control {
    height: 40px;
}


/*****************************
******** FIND US SECTION ********
******************************/
div#contact-row{
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row#contact-row div.contact-informations {
    margin: auto;
}

.row#contact-row div.contact-informations p.info {
    font-weight: bold;
}

p.info-title i {
    font-weight: bold;
    color: var(--first-purple-color);
}

.row#access-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row#access-row div {
    width: 40%;
    text-align: center;
}

.row#access-row i {
    font-size: 3rem;
    color: var(--first-purple-color) !important;
}

/*****************************
******** NEWS SECTION ********
******************************/

section#news {
    width: 95%;
    margin: auto;
}

div#news-row {
    display: flex;
    justify-content: space-evenly;
}

nav#nav-news {
    margin: 40px;
}

ul.pagination {
    font-size: 2rem;
    margin: 10px auto;
}

ul.pagination a{
    color: var(--first-purple-color);
}

.card {
    width: 300px;
}


/*****************************
******** NEWS SECTION ********
******************************/
footer {
    background-color: var(--grey-color);
    box-shadow: var(--shadow-top);
}

ul#socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul#socials li a i{
    font-size: 3.5rem;
    margin: 5px;
}